/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}



footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
body {
    background: #000;
    margin: 0;
  }
svg {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  @import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;

 
  position:absolute;
  color:tomato;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

#text {
    background-color: #3c00ff56;

    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#text {
    text-align: center;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Make sure the popup is on top of other content */
    justify-content: center;
    align-items: center;
    display: flex;
}

#popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

#popup-content {
    background-color: #2d2d2d;
    color: #0f0;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Adjust as needed */
    max-width: 600px; /* Adjust as needed */
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

input[type="text"] {
    background-color: #2d2d2d;
    color: #0f0;
    border: none;
    width: 100%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}


#button-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
}

#mute-button, #impressum-button {
    background: none;
    border: none;
    color: #fff; /* Adjust as needed */
    font-size: 24px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed */
}

#impressum-popup {
    visibility: block;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #7b7b7b;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    z-index: 1000;
    transition: visibility 0s, opacity 0.5s linear;
}

#impressum-popup.show {
    visibility: visible;
    opacity: 1;
}